<div>
    <form class="container" (ngSubmit)="onFormSubmit()" #form="ngForm">
        <div>
            <h2>Login Utente</h2>
        </div>
        <div class="row-auto">
            <div class="col-3">
                <label for="email">username:</label>
                <input class="form-control" [(ngModel)]="account.username" placeholder="Inserire username" type="text"
                    name="username" required>
            </div>
            <br>
            <div class="col-3">
                <label for="password">Password:</label>
                <input class="form-control" [(ngModel)]="account.password" placeholder="Inserire la Password"
                    type="password" name="password" required>
            </div>
            <br>
            <div class="col-auto">
                <button class="btn btn-success" type="submit">Login</button>
            </div>
        </div>
       
    </form>
</div>