<body>
    
    <div class="container">
        <h3 class="text-center my-4">Tabella delle statistiche di tutti i dipendenti</h3>
        <div class="container">
            <div class="row justify-content-formation">
                <div class="col-3">
                    <button routerLink="" type="button" class="btn btn-primary">Home</button>
                </div>
                <div class="col-3">
                    <button routerLink="/lista" type="button" class="btn btn-primary">Lista Dipendenti</button>
                </div>
                <div class="col-3">
                    <button routerLink="/form" type="button" class="btn btn-primary">Form di inserimento/modifica</button>
                </div>
            </div>
            <br>
        </div>
        <div class="container">
            
            <table class="table">
                <thead class="bg-white">
                    <th class="text-dark">Stipendio medio</th>
                    <th class="text-dark">totale stipendi</th>
                    <th class="text-dark">stipendio minimo </th>
                    <th class="text-dark">stipendio massimo</th>
                </thead>
                <tbody class="bg-dark">
                    <tr>
                  
                        <td class="text-white">{{media}}</td>
                        <td class="text-white">{{somma}}</td>
                        <td class="text-white">{{min}}</td>
                        <td class="text-white">{{max}}</td>
                </tr>
                </tbody>
            </table>
       
        </div>
    </div>

</body>